rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function developmentAccessOpen() {
      return request.time < timestamp.date(2026, 12, 31);
    }

    match /user_profiles/{userId} {
      allow read, write: if developmentAccessOpen();

      match /local_expert_badges/{badgeId} {
        allow read: if developmentAccessOpen();
        allow write: if false;
      }

      match /{subcollection}/{document=**} {
        allow read, write: if developmentAccessOpen() &&
          subcollection != 'local_expert_badges';
      }
    }

    match /{collection}/{document=**} {
      allow read, write: if developmentAccessOpen() &&
        collection != 'user_profiles';
    }
  }
}
