<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="BiteStar"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="false" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="couponapp"
                    android:host="subscription-return" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="couponapp"
                    android:host="open" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="bitesaver"
                    android:host="subscription-success" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="bitesaver"
                    android:host="subscription-cancel" />
            </intent-filter>

            <!-- Stage 1 installed-app custom-scheme links.
                 Keep this scheme-level filter broad so Android resolves both
                 bitesaver://invite/... and bitesaver:///r/... test URLs. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bitesaver" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="go.biteranger.com"
                    android:pathPrefix="/r/coupons/" />
                <data
                    android:scheme="https"
                    android:host="go.biteranger.com"
                    android:pathPrefix="/r/bitescore/" />
                <data
                    android:scheme="https"
                    android:host="go.biteranger.com"
                    android:pathPrefix="/invite/coupon/" />
                <data
                    android:scheme="https"
                    android:host="go.biteranger.com"
                    android:pathPrefix="/invite/bitescore/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="app.biteranger.com"
                    android:pathPrefix="/r/coupons/" />
                <data
                    android:scheme="https"
                    android:host="app.biteranger.com"
                    android:pathPrefix="/r/bitescore/" />
                <data
                    android:scheme="https"
                    android:host="app.biteranger.com"
                    android:pathPrefix="/invite/coupon/" />
                <data
                    android:scheme="https"
                    android:host="app.biteranger.com"
                    android:pathPrefix="/invite/bitescore/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="go.colesmartllc.com"
                    android:pathPrefix="/r/coupons/" />
                <data
                    android:scheme="https"
                    android:host="go.colesmartllc.com"
                    android:pathPrefix="/r/bitescore/" />
                <data
                    android:scheme="https"
                    android:host="go.colesmartllc.com"
                    android:pathPrefix="/invite/coupon/" />
                <data
                    android:scheme="https"
                    android:host="go.colesmartllc.com"
                    android:pathPrefix="/invite/bitescore/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="app.colesmartllc.com"
                    android:pathPrefix="/r/coupons/" />
                <data
                    android:scheme="https"
                    android:host="app.colesmartllc.com"
                    android:pathPrefix="/r/bitescore/" />
                <data
                    android:scheme="https"
                    android:host="app.colesmartllc.com"
                    android:pathPrefix="/invite/coupon/" />
                <data
                    android:scheme="https"
                    android:host="app.colesmartllc.com"
                    android:pathPrefix="/invite/bitescore/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="colesmartllc.com"
                    android:pathPrefix="/r/coupons/" />
                <data
                    android:scheme="https"
                    android:host="colesmartllc.com"
                    android:pathPrefix="/r/bitescore/" />
                <data
                    android:scheme="https"
                    android:host="colesmartllc.com"
                    android:pathPrefix="/invite/coupon/" />
                <data
                    android:scheme="https"
                    android:host="colesmartllc.com"
                    android:pathPrefix="/invite/bitescore/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="www.colesmartllc.com"
                    android:pathPrefix="/r/coupons/" />
                <data
                    android:scheme="https"
                    android:host="www.colesmartllc.com"
                    android:pathPrefix="/r/bitescore/" />
                <data
                    android:scheme="https"
                    android:host="www.colesmartllc.com"
                    android:pathPrefix="/invite/coupon/" />
                <data
                    android:scheme="https"
                    android:host="www.colesmartllc.com"
                    android:pathPrefix="/invite/bitescore/" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
